* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.footer{
    margin-top: 3rem;
    display: grid;
}

.social{
    background-color: #3c096c;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.media-title{
    font-size:large;
    color: white;
}

.media-icons {
    width: 10%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon{
    color: white;
    width: 2rem;
    height: 2rem;
}

.company{
    background-color: #10002b;
    padding: 1rem;
    display: flex;
    gap: 5rem;
}

.company-info{
    width: 30%;
}

.company-title{
    color: white;
}

.company-divider{
    width: 30%;
    margin-left: 0;
}

.company-desc{
    color: white;
}

.products-section{
    width: 30%;
    text-align: left;

}

.products-title{
    color: white;
}

.products-divider{
    width: 20%;
    margin-left: 0;
}

.products-list{
    color: white;
    margin-left: 0;
}

.product{
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
}

.links-section{
    width: 30%;
    text-align: left;
}

.links-title{
    color: white;
}

.links-divider{
    width: 20%;
    margin-left: 0;
}

.links-list{
    color: white;
    margin-left: 0;
}

.link{
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
}

.contact-section{
    width: 30%;
    text-align: left;
}

.contact-title{
    color: white;
}

.contact-divider{
    width: 20%;
    margin-left: 0;
}

.contact-list{
    color: white;
    margin-left: 0;
}

.contact-list{
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
}

.contact{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 0;
    margin-bottom: 7px;
}

.contact-item{
    margin-top: 0;
    margin-bottom: 0;
}

.copyright{
    background-color: #3c096c;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.copyright-icon{
    color: white;
    width: 1.5rem;
    height: 1.5rem;
}

.copyright-dec{
    color: white;
}

.copyright-link{
    color: white;
}